@model IEnumerable<PhoneList>
@{
    ViewData["Title"] = "Index";
}

<h1>Contacts</h1>
<div class="container p-3">
    <div class="row pt-4">
        <div class=" col-6">
            <h2 class="text-black">Address Book</h2>
        </div>
        <div class=" col-6 text-end">
            <a asp-controller="Phone" asp-action="Create" class="btn btn-primary">Add Contact</a>
        </div>
    </div>

<table class="table table-bordered table-striped" style="width:100%">

    <thead>
        <tr>
            <th>
                First Name
            </th>
            <th>
                Last Name
            </th>
            <th>
                Email
            </th>
            <th>
                Phone Number
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach(var obj in Model)
        {
            <tr>
                <td style="width:20%">
                    @obj.FirstName
                </td>
                <td style="width:20%">
                    @obj.LastName
                </td>
                <td style="width:20%">
                    @obj.Email
                </td>
                <td style="width:40%">
                    <ul>
                        @foreach (var number in obj.Numbers)
                        {
                            <li>@number.Label: @number.Number</li>
      
                        }
                    </ul>
                </td>
                <td>
                    <div class="w-75 btn-group" role="group">
                        <a asp-controller="Phone" asp-action="Edit" asp-route-id="@obj.ID">Edit</a>
                        <span> </span>
                        <a asp-controller="Phone" asp-action="Delete" asp-route-id="@obj.ID">Delete</a>
                    </div>
                </td>
            </tr>
        }
    </tbody>
</table>
</div>